nav {
  width: 100%;
  height: 70px;
  background-color: #22b6c4dc;
  justify-content: flex-end;
  display: flex;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  font-weight: bold;
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  width: 100%;
  list-style: none;
}
nav ul li a {
  color: #a80065;
  font-weight: bold;
  font-size: xx-large;
  display: flex;
  border: #131111 solid 1px;
  border-radius: 7px;
  background-color: rgb(240, 229, 240);
}
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 420px;
  text-align: start;
  font-weight: bold;
  padding: 30px;
  font-size: x-large;
  border: 4px solid rgb(226, 214, 214);
  border-radius: 15px;
  margin: auto;
}
input {
  padding: 5px;
  border: 1px solid rgb(97, 85, 85);
  border-radius: 20px;
  font-size: large;
  width: 100%;
}
h1 {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  font-weight: 900;
  color: rgb(61, 62, 63);
}
h2 {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  font-weight: 900;
}

table {
  width: 100%;
  margin-top: 10px;
  background: #f1f0f0;
  font-size: 1.1rem;
  border-collapse: collapse;
}
thead {
  background-color: #f5f5f5;
  font-weight: bold;
  text-align: center;
  padding: 16px;
  font-size: 1.15rem;
}
th,
td {
  border: 1px solid #ddd;
  padding: 12px 8px;
  text-align: center;
}
@media (max-width: 400px) {
  body {
    width: 90%;
    flex-direction: column;
    text-align: center;
    height: auto;
  }
}
.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}
.card {
  display: flex;
  flex-direction: column;

  background-color: rgb(225, 225, 233);
  border-radius: 10px;
  height: 200px;
  width: 200px;
  justify-content: center;
  align-items: center;
  border: #ddd;
}
.small {
  font-size: xx-large;
  font-weight: bold;
  font-weight: 900;
  color: rgb(15, 15, 14);
  height: 50px;
  border: 1px solid rgb(129, 129, 127);
  width: 400px;
  border-radius: 20px;
  background-color: antiquewhite;
}
h2 {
  text-align: center;
  font-size: large;
  font-weight: bold;
  font-weight: 900;
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  left: 0;
  bottom: 0;
  background: #f5f5f5;
}
.agree {
  display: flex;
  text-align: start;
  gap: 5px;
}
.button {
  padding: 10px;
  width: 100%;
  font-weight: bold;
  background-color: rgb(128, 181, 20);
  text-align: center;

  border: none;
  border-radius: 20px;
}
.logo {
  width: 70px;
  display: flex;

  margin-right: auto;
}
.terms {
  color: black;
  font-weight: bold;
  font-size: x-large;
  text-align: start;
  display: inline;
}
.gender {
  display: flex;
  flex-direction: column;
  text-align: start;
  border-radius: 20px;
}
