nav {
  width: 100%;
  height: 50px;
  background-color: lightgray;
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  font-weight: bold;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav ul {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  width: 100%;
}
nav ul li a {
  color: black;
  font-weight: bold;
  font-size: xx-large;

  display: flex;
}
form {
  display: flex;
  gap: 16px;
  width: 400px;

  text-align: center;
  font-weight: bold;
  padding: 40px;
  font-size: large;
  border: 8px solid lightgray;
  border-radius: 10px;
  font-size: x-large;
  border-color: lightgray;
  display: block;
}
input {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: large;
  width: 100%;
}
h1 {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
  margin-top: 20px;
  font-weight: 900;
  color: olivedrab;
}
thead {
  background-color: white;
  font-weight: bold;
  text-align: center;
  font-size: large;
  padding: 20px;
}
h2 {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  color: green;
  font-weight: 900;
}
.card {
  background: lightcyan;
  border-radius: 8px;
  box-shadow: 0 2px 8px #eee;
  width: 200px;
  padding: 20px;
  text-align: center;
  margin: 20px;
  display: flex;
  gap: 24px;
}
